<div class="container">
    <div class="blockMovie">
        <a class="btn" [routerLink]="['']">Return List Movies</a>
    </div>
    <div class="blockAddMovie">
        <label for="">Title Movie / Serie</label>
        <form #form="ngForm" (ngSubmit)="editMovie(form)" class="blockInput">
            <input type="text" class="titleMovie" name="titleMovie" id="titleMovie"  #model="ngModel" ngModel="{{ id }}">
            <button class="btn btnAddMovie" type="submit"> Edit </button>
        </form >
    </div>
</div>