/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    margin-top: 4rem;
    font-size: 2em;
    border-radius: 10px;
    padding: 3rem 0rem;
    -moz-box-shadow: inset 0 0 10px #8E39E3;
    -webkit-box-shadow: inset 0 0 10px #8E39E3;
    box-shadow: inset 0 0 10px #8E39E3;
} */
a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    color: #8E39E3;
}
.listMovie{
    width:40vw;
    height: auto;
    color: white;
}
.randMovie{
    margin: 0rem 1rem;
}
.blockMovie{
    margin: 4rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.editMovie ,.deleteMovie{
    padding: 0rem 10px;
}
li{
    list-style-type: none;
}
.movies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    text-align: left;
    padding-bottom: 1rem;
    border-bottom:1px solid #8E39E3;
}
.movies span{
    display: flex;
}
.blockMovie a:first-child {
    margin-left: 1rem;
}
.contentList{
    font-weight: bold;
    font-style: italic;
}
@media screen and (min-width:880px) and (max-width:1130px){
    .container{
        width: 80vw;
        /* background-color: yellow */
    }
    .blockMovie{
        /* font-size: 25px; */
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem;
    }
    .blockMovie a{
        margin: 1rem 0rem;
    }
    .listMovie{
        width: 60vw;
    }
}

@media screen and (min-width:500px) and (max-width:880px){
    .container{
        width: 80vw;
        /* background-color: yellow */
    }
    .blockMovie{
        /* font-size: 25px; */
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem;
    }
    .blockMovie a{
        margin: 1rem 0rem;
    }
    .listMovie{
        width: 60vw;
    }
}
@media screen and (min-width:300px) and (max-width:680px){
    .container{
        width: 90vw;
    }
    .blockMovie{
        /* font-size: 25px; */
        flex-direction: column;
        align-items: center;
        margin: 2rem 0rem;
    }
    .blockMovie a{
        margin: 1rem 0rem;
    }
    .movies{
        margin: 2rem 0rem;
    }
    .listMovie{
        width: 70vw;
    }
    
}
